body {
    background-color: white;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
}

a.link {
    text-decoration: none;
    color: currentColor;

}

a:hover {
    color: #2196F3;
}


li {
    list-style-type: none;
}


.hero-image {

    background: #2F303A;
}

.hero-text {

    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);


    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;

}


.hero-button {

    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

button:hover {
    background-color: #2196F3;
}

button:focus {
    outline: #188CE8;
}

.hero-button-text {

    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: white;

}


.logo-down-white {
    color: white;
}

.logo-up-black {
    color: black;
}

.logo {

    color: currentColor;
    font-size: 26px;
    line-height: calc(31/26);

    letter-spacing: 0.03em;
    color: #2196F3;
}



.button {
    cursor: pointer;
}

.button-one {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
}

.button-two {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
}

.button-three {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
}

.button-four {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
}

.button-five {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
}


.footer {
    background: #2F303A;
}

.adress-footer {
    color: #FFFFFF;
}

.contact-footer {
    color: rgba(255, 255, 255, 0.6)
}